body {
  margin: 0;
  padding: 20px; /* Add padding to create space around the form */
}

.App {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 400px;
  background-color: rgb(195, 235, 187);
  width: 100%;
  padding: 20px; /* Add padding to the App container */
}

form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="radio"] {
  margin-right: 5px;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-left: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  form {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="radio"] {
    width: calc(100% - 38px);
  }
}
